body {
    font-family: 'Vollkorn', serif;
    font-family: 'PT Sans', sans-serif;
    
  }
  
  header {
    align-items: center;
    display: flex;
    padding: 2em;
    background: black;
  }
  
  nav { 
    flex: 1;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    color:white;
  }

  nav li {
    list-style: none;
  }

  div.scroll-container {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 0em 8em 2em 8em;
  }

  div.scroll-container img {
    border-left: solid 2px yellow;
    padding: 0em 1em 0em 1em;
  }
