body {
    font-family: 'Vollkorn', serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 62.5%;
    background: black;
  }
  
  header {
    background-color: black;
    overflow: auto;
    position: Sticky;
    top: 0;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  nav li {
    float: left;
    margin: 0;
  }
  
  nav a {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px;
    display: inline-block;
  }
  

  nav a:hover {
    text-decoration: underline yellow 3px;
  }

  .banner-image {
    width: 100%;
    height: 540px;
    margin: auto;
    background: url(images/hero.jpg);
    background-size: cover;
  }

  .home-services {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: white;
    justify-content: space-around;
    align-items: center;
  }

  .home-services h2 {
    font-family: 'Vollkorn', serif;
  }

  .home-acct {
    border: solid yellow 3px;
    background: rgb(46, 45, 45);
    padding: 0px 50px 0px 50px;
    margin: 1rem;
    max-width: 300px;
  }

  .home-consult {
    border: solid yellow 3px;
    background: rgb(46, 45, 45);
    padding: 0px 50px 0px 50px;
    margin: 1rem;
    max-width: 300px;
  }

  .home-tax {
    border: solid yellow 3px;
    background: rgb(46, 45, 45);
    padding: 0px 50px 0px 50px;
    margin: 1rem;
    max-width: 300px;
  }

  .home-about {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border: solid yellow 3px;
    width: 75%;
    background: rgb(46, 45, 45);
    color: white;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;

  }

  .home-about-text {
    padding: 50px 50px 50px 100px;
    max-width: 100%;
  }

  .home-about h2 {
    font-family: 'Vollkorn', serif;
  }

  .home-about img {
    margin: auto;
    max-width: 100%;
  }

  div.scroll-container {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 2em 8em 2em 8em;
    scrollbar-color: grey yellow;
  }

  div.scroll-container img {
    border-left: solid 2px yellow;
    padding: 0em 1em 0em 1em;
  }

  @media screen and (min-width: 1200px) {
    .home-about {
      flex-direction: row;
    }
    .home-services { 
      flex-direction: row;
    }
  }
